{% extends 'students/base.html' %}

{% block content %}
    <h1>Edit student information</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}

        <p>Students in this group: </p>
        {% for t in group.student_set.all %}
            {% if t != student %}
                {% if forloop.next %}, {% endif %}
                    {{ t }}
                {% endif %}
        {% endfor %}

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}